:root {
    --color-white: hsl(0, 0%, 10%);
    --color-light: hsl(0, 0%, 17%);
    --color-lighter: hsl(0, 0%, 11%);
    --color-gray: hsl(0, 0%, 33%);
    --color-primary: hsl(63, 94%, 58%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-sucsess: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-semidark: hsla(0, 0%, 85%, 0.831);
    --color-dark: hsl(0, 0%, 86%);
    --color-black: hsl(0, 0%, 100%);



    /* ---- MobileMenu ---- */

    --mobile-menu--fill-color: rgba(255, 255, 255, 0.7);

    /* End ---- MobileMenu ---- End */



    /* ---- ThemeSwitcher_1 ---- */

    --themeSwitcher--bg: rgba(255, 255, 255, 0.06);

    /* ---- ThemeSwitcher_1 ---- */



    /* ---- Logo ---- */

    --logo--color: rgb(255, 255, 255, 0.9);

    /* End ---- Logo ---- End */



    /* NavBar text input */
    --topnavbar__text-input--bg: hsl(0, 0%, 16%);
    --topnavbar__text-input--color: hsl(0, 0%, 85%);
    --topnavbar__text-input__placeholder--text-color: hsl(0, 0%, 53%);
    --topnavbar__text-input__border-radius: 50px;

    /* ---- ProfileCard ---- */

    --profilecard--bg: var(--color-white);
    --profilecard--border-radius: 12px;

    --profilecard__img--width: 33px;
    --profilecard__img--height: 33px;
    --profilecard__img--border-radius: 50%;

    --profilecard__username--font-size: 0.9rem;
    --profilecard__username--font-weight: 500;
    --profilecard__username--color: var(--color-dark);
    --profilecard__username--text-track: 0.3px;

    --profilecard__email--font-size: 0.75rem;
    --profilecard__email--font-weight: 400;
    --profilecard__email--color: rgba(255, 255, 255, 0.3);
    --profilecard__email--text-track: 0.3px;

    /* End ---- ProfileCard ---- End */



    /* ---- NotificationCard_1 ---- */

    --notificationcard1--padding: 12px;
    --notificationcard1--border-radius: 0px;
    --notificationcard1--bg: transparent;
    --notificationcard1--hover-bg: transparent;
    --notificationcard1--border-b-color: rgba(255, 255, 25, 0.08);
    --notificationcard1--padding-y: 14px;

    --notificationcard1_placeholder--bg: var(--color-gray);

    --notificationcard1__img--width: 2.4rem;
    --notificationcard1__img--height: 2.4rem;
    --notificationcard1__img--border-radius: 0.8rem;
    --notificationcard1__img--shadow-color: rgba(0, 0, 0, 0.3);

    --notificationcard1--font-size: 0.9rem;
    --notificationcard1--color: var(--color-semidark);
    --notificationcard1--font-weight: 500;

    --notificationcard1__username--font-size: 0.9rem;
    --notificationcard1__username--color: var(--color-dark);
    --notificationcard1__username--font-weight: 500;

    --notificationcard1__date--font-size: 0.75rem;
    --notificationcard1__date--color: rgba(255, 255, 255, 0.4);
    --notificationcard1__date--font-weight: 600;

    /* End ---- NotificationCard_1 ---- End */

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.4rem 1.5rem;
    --btn-box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.6);
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --html-font-size: 14px;
}